.tarjeta{
    background-color:$fondotarjeta ;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: 1.5px solid $colorboton; 
    div{
        display: flex;
        flex-direction: column;    
    }    
        h3{
            text-align: center;
        }  
        img{
        height: 150px;
        padding: 5px;
        justify-self: center;
        align-self: center;
        }
        .btn{
            text-align: center;
            margin-top: 5px;
            margin: 5px 5px;
            border: none;
            background-color: #6D85a3;
        }
            a{
                text-decoration: none;
            }
}