@import "_tarjeta";
@import "_variables";

.banner{
    width: 100%;
    background-image: url(../img/bannercafeteria.jpg);
    height: 300px;
    background-position: center center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
    h1{
       font-size: 3rem ; 
       color: white;
    }
}